<div id='sessions-new'>
  <%= form_tag sessions_path do %>
    <h1 class='page-header'>Admin Login </h1>
    <%= text_field_tag :username, '', class: 'form-control', placeholder: 'Username' %>
    <%= password_field_tag :password, '', class: 'form-control', placeholder: 'Password' %>
    <%= submit_tag 'Login', class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>
</div>
