<table class='table table-striped'>
  <thead>
    <tr>
      <th>Player 1</th>
      <th>Player 2</th>
    </tr>
  </thead>
  <tbody>
    <% @round_form.matches.each_with_index do |match, idx| %>
      <tr>
        <td>        
          <%= select_tag("matches[#{idx}][player1_id]",
              options_from_collection_for_select(Player.all, :id, :num_full_name, match.player1_id), 
              class: 'form-control', include_blank: true
          ) %>
        </td>
        <td>
          <%= select_tag("matches[#{idx}][player2_id]",
              options_from_collection_for_select(Player.all, :id, :num_full_name, match.player2_id),
              class: 'form-control', include_blank: true
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
