<table class='table table-striped'>
  <thead>
    <tr>
      <th>Player 1</th>
      <th>Score</th>
      <th>Adjusted<br/>Score</th>
      <th>Points</th>
      <th>Player 2</th>
      <th>Score</th>
      <th>Adjusted<br/>Score</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <%= f.fields_for :matches do |m| %>
      <tr>
        <td>        
          <%= m.collection_select(:player1_id, Player.all, :id, :num_full_name,
            { include_blank: true }, class: 'form-control')
          %>
        </td>
        <td>Score</td>
        <td>Adj Score</td>
        <td>Points</td>
        <td>
          <%= m.collection_select(:player2_id, Player.all, :id, :num_full_name,
            { include_blank: true }, class: 'form-control')
          %>
        </td>
        <td>Score</td>
        <td>Adj Score</td>
        <td>Points</td>
      </tr>
    <% end %>
  </tbody>
</table>