/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Muli:400,300);

body {
  background-image: url("golf-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.application {
  margin-top: 105px;
}

.navmenu,
.container.main {
  border: 1px solid #F4EFA3;
  margin-left: 10%;
  width: 85%;
}

.navmenu {
  background-color: rgb(0,103,56);
  color: #F5EF98;
  font-family: 'Lobster';
  height: 73px;
  h1 {
    font-size: 42px;
    margin: 15px 15px 5px 20px;
    small {
      font-size: 22px;
      color: inherit;
      font-family: 'Muli', sans-serif;
      font-weight: 300;
      //margin-left: 3px;
    }
  }


  /*border-right: none;*/
  /*border-left: none;*/
  

  /*border-top: none;*/
  /*border-bottom: none;*/

}

.container.main {
  background-color: white;
  margin-bottom: 105px;
  padding: 50px;
  .content {
    padding: 0 50px 50px 50px;
  }
}



.page-header {
  margin: 0 0 40px;
}

.fa {
  font-size: 22px;
}

table {
  margin: 20px 0; 
}