/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *-
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Muli:400,300);

$light-yellow: #F5EF98;
$dark-green: rgb(0,103,56);
$bright-green: #9CCE75;
$nice-red: #d9534f;
$dark-red: #c9302c;

body {
  background-image: url("golf-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2 {
  font-family: 'Muli'; 
}

a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.application {
  margin-top: 105px;
}

.navmenu,
.container.main {
  border: 1px solid $light-yellow;
  margin-left: 10%;
  width: 85%;
}

.navmenu {
  background-color: $dark-green;
  color: $light-yellow;
  height: 55px;
  font-family: 'Muli', sans-serif;
  h1 {
    font-family: 'Lobster';
    display: inline-block;
    font-size: 36px;
    width: 30%;
    padding: 0 1%;
    margin: 7px 0 5px;
    small {
      font-size: 22px;
      color: inherit;
      font-family: 'Muli', sans-serif;
      font-weight: 300;
      vertical-align: middle;
      padding-left: 3px;
    }
  }
  a {
    font-size: 16px;
    color: inherit;
  }
  .nav-links {
    text-align: center;
    vertical-align: middle;
    width: 50%;
    display: inline-block;
    padding-bottom: 15px;
    a {
      margin: 0 3vw;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        border-bottom: 2px solid $light-yellow;
      }
    }
  }
  .admin-login {
    display: inline-block;
    font-family: 'Lobster';
    font-size: 14px;
    width: 18%;
    text-align: right;
    padding: 0 1%;
    padding-bottom: 15px;
    vertical-align: middle;
    a {
      &:hover {
        border-bottom: 2px solid $light-yellow;
      }
    }
  }
}

.container.main {
  background-color: white;
  margin-bottom: 105px;
  padding: 50px 20px;
  .content {
    padding: 0 50px 0 50px;
  }
}

.alert {
  margin-bottom: 40px;
}

.page-header {
  margin: 0 0 40px;
  border-color: $dark-green;
  border-width: 3px;
}

.fa {
  font-size: 22px;
}

table {
  margin: 20px 0; 
}