@import 'application'; 

#players-index {
  h1 {
    .fa {
      font-size: 14px;
      padding-right: 5px;
    }
  }
  table {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    th:nth-child(1),
    th:nth-child(2) {
      width: 40%;
    }
    th:nth-child(3),
    th:nth-child(4) {
      width: 10%;
    }
    a {
      color: $dark-green;
      &:hover {
        color: $bright-green;
        text-decoration: none;
      }
      .fa-times {
        color: $nice-red;
        &:hover {
          color: $dark-red;
        }
      }
    }
  }
}

#players-form {
  .radio-inline {
    padding: 0;
  }
}